/*
 * DarkenTS-Dissension style for Better Chat plugin (https://github.com/Luch00/LxBTSC - https://www.myteamspeak.com/addons/d2f7aeb3-1f69-431d-9f7b-a2b1901aa2da)
*/

/* ---- Better Chat messages ---- */

.TextMessage_HostName, .TextMessage_ServerLink, .TextMessage_ChannelLink {
  color: rgb(255,255,255) !important;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.TextMessage_UserLink {
  color: rgb(255,255,255) !important;
  font-weight: bold;
  text-decoration: none;
}

.TextMessage_Welcome, .TextMessage_HostMessage {
  color: rgb(195,196,197) !important;
  font-weight: bold;
}

.TextMessage_Time, .TextMessage_Message, .TextMessage_Poke, .TextMessage_Normal, .TextMessage_Connected, .TextMessage_ClientConnected, .TextMessage_ClientJoined, .TextMessage_Disconnected, .TextMessage_ClientDisconnected, .TextMessage_ClientSwitched, .TextMessage_ClientLeft, .TextMessage_ClientDropped, .TextMessage_ChannelCreated, .TextMessage_ChannelDeleted, .TextMessage_ChannelEdited, .TextMessage_ChannelMoved, .TextMessage_ServerEdited, .avatar-style.TextMessage_Time {
  color: rgb(195,196,197) !important;
}

.TextMessage_GroupAssigned, .TextMessage_GroupRevoked, .TextMessage_TalkPowerAssigned, .TextMessage_TalkPowerRevoked, .TextMessage_TalkPowerRequested {
  color: rgb(195,196,197) !important;
  font-weight: bold;
}

.TextMessage_ClientKicked, .TextMessage_ClientBanned {
  color: rgb(214,71,68) !important;
}

.TextMessage_ServerError {
  color: rgb(128,62,65) !important;
  font-weight: bold;
}

/* ---- Better Chat UI ---- */

body {
	font-size: 11pt;
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif !important;
	background-color: rgb(30,33,36) !important;
}

a {
  color: rgb(0,150,207) !important;
  text-decoration: underline;
}

img.Incoming {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><path d="M112.89 67.46L70 110.42a8.76 8.76 0 0 1-6 2.44 8.48 8.48 0 0 1-5.93-2.44l-42.89-43a8.27 8.27 0 0 1-2.5-5.93 8.54 8.54 0 0 1 2.5-6l4.88-4.94a8.76 8.76 0 0 1 6-2.44A8.48 8.48 0 0 1 32 50.59L51.35 70V23.58a8.49 8.49 0 0 1 8.43-8.43h8.43a8.49 8.49 0 0 1 8.43 8.43V70L96 50.59a8.48 8.48 0 0 1 6-2.44 8.76 8.76 0 0 1 6 2.44l4.94 4.94a8.77 8.77 0 0 1 2.44 6 8.49 8.49 0 0 1-2.49 5.93z" fill="#d8d8d8"/></svg>') !important;
	width: 18px !important;
	height: 18px !important;
}

img.Outgoing {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><path d="M15.11 60.54L58 17.58a8.76 8.76 0 0 1 6-2.44 8.48 8.48 0 0 1 5.93 2.44l42.89 43a8.27 8.27 0 0 1 2.5 5.93 8.54 8.54 0 0 1-2.5 6l-4.88 4.94a8.76 8.76 0 0 1-6 2.44A8.48 8.48 0 0 1 96 77.41L76.65 58v46.38a8.49 8.49 0 0 1-8.43 8.43h-8.44a8.49 8.49 0 0 1-8.43-8.43V58L32 77.41a8.48 8.48 0 0 1-6 2.44 8.76 8.76 0 0 1-6-2.44l-4.94-4.94a8.76 8.76 0 0 1-2.44-6 8.49 8.49 0 0 1 2.49-5.93z" fill="#d8d8d8"/></svg>') !important;
	width: 18px !important;
	height: 18px !important;
}

/*img.Info {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><path d="M64 128a64 64 0 1 1 64-64 64 64 0 0 1-64 64zm21.33-37.33A2.63 2.63 0 0 0 82.67 88h-8V45.33A2.63 2.63 0 0 0 72 42.67H45.33a2.63 2.63 0 0 0-2.67 2.67v13.33a2.63 2.63 0 0 0 2.67 2.67h8V88h-8a2.63 2.63 0 0 0-2.67 2.67V104a2.63 2.63 0 0 0 2.67 2.67h37.34a2.63 2.63 0 0 0 2.66-2.67zM74.67 16A2.63 2.63 0 0 0 72 13.33H56A2.63 2.63 0 0 0 53.33 16v13.33A2.63 2.63 0 0 0 56 32h16a2.63 2.63 0 0 0 2.67-2.67z" fill="#d8d8d8"/></svg>');
	width: 18px;
	height: 18px;
}*/

.avatar, .static-avatar {
	border-radius: 50%;
}

.avatar-container {
	border-radius: 40px !important;
    border: none !important;
    background-color: rgb(58,66,91) !important;
}

.embed-container, .tweet-container, .generic-og-embed {
	background-color: rgb(40,43,48) !important;
	color: rgb(195,196,197);
	border-radius: 6px;
}

.emote-menu {
	background-color: rgb(30,33,36) !important;
	color: rgb(195,196,197);
	border-radius: 6px;
}

.emote-container > .emote:hover {
	border-radius: 6px;
    background-color: rgb(58,66,91);
}

.set-header {
    font-size: 10pt !important;
    border-top: 1px solid rgb(55,59,66);
}

.twitter-description, .embed-og-description {
	background: transparent;
}

.close-embeds {
	top: 2px !important;
	right: 2px !important;
	border-radius: 4px;
}

.close-embeds:hover {
	background-color: rgb(55,59,66) !important;
}

.tooltipper {
	border: 1px solid rgb(54,57,62);
	border-radius: 4px !important;
  	background-color: rgb(54,57,62) !important;
  	color: rgb(195,196,197) !important;
}

::-webkit-scrollbar {
    width: 13px !important;
}

::-webkit-scrollbar-track, .emote-menu::-webkit-scrollbar-track {
	border-right: 3px solid rgb(30,33,36);
	border-radius: 5px;
    background-color: rgba(54,57,62,0.25) !important;
}

::-webkit-scrollbar-thumb, .emote-menu::-webkit-scrollbar-thumb  {
	border-right: 3px solid rgb(30,33,36);
    border-radius: 5px;
  	background-color: rgba(54,57,62,0.5) !important;
}

::-webkit-scrollbar-thumb:hover, .emote-menu::-webkit-scrollbar-thumb:hover {
    background-color: rgb(54,57,62) !important;
}

#popup {
    -webkit-box-shadow:  0px 0px 0px 9999px rgba(40,43,48,0.9) !important;
    box-shadow:  0px 0px 0px 9999px rgba(40,43,48,0.9) !important;
}